/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   * {
	font-family: Arial, Helvetica, sans-serif;
  }
  
  html, body {
	margin: 0;
	border: 0;
	padding: 0;
	background-color: #fff;
  }
  
  main {
	margin: auto;
	width: 50%;
	padding: 20px;
  }
  
  main > h1 {
	text-align: center;
	font-size: 3.5em;
  }

/* Turn off the outline on clicks to brand anchors */

a {
	outline: 0;
	text-decoration:none; 
	}
a:link {
	outline: 0;
	text-decoration:none; 
}
/*
a:visited {
	outline: 0;
	text-decoration:none; 
}
a:hover {
	outline: 0;
	text-decoration:none; 
}
*/
a:active {
	outline: 0;
	text-decoration:none; 
}

li {
	list-style-type: none;
}

